
.formPalette_picker{
    position:absolute;
    display:none;
    
    background: #EFEFEF;
    overflow-x: hidden;
    overflow-y: hidden;
    padding:5px;
}

.formPalette_gridColor{
    float:left;
    margin: 0px 5px 5px 0px;
    padding:0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -khtml-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    border: 0px solid transparent;
    cursor:pointer;
}


