/*
	body{
		background-image:url('../../images/heading3.gif');
		background-repeat:no-repeat;
		padding-top:85px;	
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		font-size:0.9em;
		line-height:130%;

	}
*/
	
	
	.selectBoxArrow{
		margin-top:-2px;
		float:left;
		position:absolute;
		right:-8px;
        min-width:24px;
        min-height:24px;
	}	

	.selectBoxInput{
		border:0px;
		padding-left:1px;
		height:16px;
		position:absolute;
		top:0px;
		left:0px;
	}

	.selectBox{
		border:1px solid #7f9db9;
		height:18px;	
	
	}
	.selectBoxOptionContainer{
		position:absolute;
		border:1px solid #7f9db9;
		height:100px;
		background-color:#FFF;
		left:-1px;
		top:20px;
		visibility:hidden;
		/*overflow:auto;*/
		overflow-x:hidden;
	}
	.selectBoxAnOption{
		font-family:arial;
		font-size:1.1em;
		cursor:default;
		margin:1px;
		overflow:hidden;
		white-space:nowrap;
        height:1.3em;
	}
	.selectBoxOptions{
		font-size:1.5em;	
	
	}
	.selectBoxIframe{
		position:absolute;
		background-color:#FFF;
		border:0px;
		z-index:999;
	}	
    
/* ajout JJDai */
.XoopsFormEditList_btn{
    margin-top:8px;
    color:red;
}

.XoopsFormEditList_help{
    color:blue;
    font-style: italic;
}
